.mainSearch{
	height: 100%;
	display: inline-block;
}
.mainSearchFirst{
	height: 100%;
	float: left;
	border-right: 3px solid black;
	padding-right: 20px; 
}
.searchResult{
	height: 100%;
	margin-left: 20px;
	float: left;
}
table{
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
	table-border: 1px solid black;
	font-family: 'Montserrat', sans-serif;
}

tr{
	padding:5px;
}
th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid;
    padding: inherit;
    text-align: center;
}
.submit{
	text-align: center;
}
#submit{
	background-color:gray;
	border: 0px;
	padding: 10px;
	color: white;
	margin: 5px;
}

.fourthMain{
	width:100%;
}
.mainChild{
	width: 22%;
    float: left;
    padding: 0px 10px 0px 10px;
}
label{
	font-family: 'Montserrat', sans-serif;
}
.fourthResult{
	width: 100%;
	float: left;
    padding-left: 10px;
    padding-top: 10px;
}

img{
	width:20px;
	height: 20px;
	cursor: pointer;
}
img[disabled]{
	cursor: default;
}